$dark-background: #141712;
$white-color: #ffffff;
$light-green: #b0b89e;
$primary-green: #abe830;
$off-white: #e5e8eb;
$black-color: #000000;
$card-color: #191919;
$dark-grey: #333829;
$timeline-background: #4a543d;
